<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} | {{ .Site.Params.business_name }}{{ else }}{{ .Site.Title }}{{ end }}</title>

  {{ $description := .Description }}
  {{ if not $description }}
    {{ $description = .Site.Params.description }}
  {{ end }}
  <meta name="description" content="{{ $description }}">
  <meta name="keywords" content="fence, screen enclosure, contractor, Volusia County, Florida">

  {{ if .IsHome }}
    <link rel="canonical" href="{{ .Site.BaseURL }}">
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}

  <!-- Open Graph -->
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  {{ if .Params.image }}
    <meta property="og:image" content="{{ .Params.image }}">
  {{ else }}
    <meta property="og:image" content="/images/og-image.png">
  {{ end }}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta name="twitter:description" content="{{ $description }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Schema.org Markup -->
  {{ partial "schema.html" . }}

  <!-- Google Analytics -->
  {{ if ne .Site.Params.google_analytics "G-XXXXXXXXXX" }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ .Site.Params.google_analytics }}');
    </script>
  {{ end }}

  <!-- Google Tag Manager -->
  {{ if ne .Site.Params.google_tag_manager "GTM-XXXXXXX" }}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ .Site.Params.google_tag_manager }}');</script>
  {{ end }}
</head>
